[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
seaborn = "*"
deep-translator = "*"
textblob = "*"
spacy = "*"
neattext = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.10"
